// app global css in Sass form

:root {
  --background: #fff;
  --object-color: #b0b0b0;
  --object-text-color: #000;
  --inactive-color: #000;
  --active-color: #c00;
  --object-text-active-color: var(--active-color);
  --inactive-text-color: #fff;
  --active-text-color: #fff;
  --step-indicator-color: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --object-color: #555;
    --object-text-color: #fff;
    --inactive-color: #ccc;
    --active-color: #c00;
    --inactive-text-color: #000;
    --active-text-color: #fff;
    --object-text-active-color: var(--active-color);
    --step-indicator-color: #333;
  }
}

body {
  background: var(--background);
}

.component-bg {
  fill: var(--object-color);
}

.component-label {
  font-size: 36px;
  line-height: 1.25;
  font-family: sans-serif;
  fill: var(--object-text-color);
  user-select: none;
}

.component-port-label {
  fill: var(--object-text-color);
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 16px;
  user-select: none;

  &.active {
    fill: var(--object-text-active-color);
  }
}
